## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      var hash = window.location.hash

      if (hash) {
        $('section' + hash).show();
        $('#about-menu a.' + hash.substring(1)).addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }

      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu" class="about-menu">
    <a href="#about" class="about active">About</a>
    <a href="#careers" class="careers">Careers</a>
    <a href="#contacts" class="contacts">Contact</a>
  </nav>

  <section class="content-menu">

## About Section ##
    <section class="message left" id="about">
      <article>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec metus vitae velit tempor hendrerit. Suspendisse eget neque vitae felis laoreet dignissim. Etiam sit amet ultrices metus. Donec imperdiet tristique urna, vitae finibus sapien dignissim nec. Cras quis scelerisque purus. Aliquam id ipsum sit amet quam lacinia auctor sit amet id augue. Integer finibus diam pharetra diam maximus varius. Donec at mi a mi volutpat viverra a nec turpis. Aliquam hendrerit condimentum augue ac pretium. Phasellus rutrum sem et ex tempus, vel suscipit urna tempor. Curabitur vel augue non elit pretium venenatis at eget dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla placerat elementum sollicitudin.

          Cras pharetra mollis nisi, non ultricies dolor vehicula tincidunt. Praesent turpis justo, ullamcorper sodales sagittis eu, bibendum id risus. Curabitur sodales eget lorem sed cursus. Duis vel nulla metus. Pellentesque consectetur porta nulla sed vestibulum. Vivamus porta nec neque auctor eleifend. Fusce dignissim est eget turpis rutrum sagittis. Suspendisse laoreet volutpat enim ac dapibus. Pellentesque quis metus aliquet, sollicitudin arcu sed, porta elit. Nulla nec dui non est cursus tincidunt in a erat. In eleifend quam non egestas ultricies. Quisque sagittis, dui in luctus tempus, arcu tellus semper diam, eget volutpat nisl sem sed lorem. Nam quis dapibus nibh, nec sagittis dolor. Sed convallis, libero quis euismod porta, sapien dolor ultricies lectus, at dapibus enim nunc at nulla. In mattis quam eget mollis porttitor.

          Etiam tortor risus, pellentesque vitae felis eget, consectetur vehicula mauris. Phasellus faucibus, lectus vel bibendum finibus, neque ligula consectetur sapien, ut tincidunt dui lectus et dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent malesuada nec est sit amet vulputate. Curabitur condimentum nunc sit amet leo condimentum commodo. Sed rutrum libero turpis. Pellentesque magna nunc, hendrerit vitae libero non, pretium bibendum nibh. Integer malesuada bibendum mauris vel semper.

          In tempus efficitur dui. In molestie mi a nisl rutrum luctus finibus pulvinar ex. Maecenas condimentum id ex nec lacinia. Vivamus tincidunt lectus eget mattis lobortis. Ut in congue lectus. Cras sed sagittis libero, volutpat rhoncus tellus. Proin efficitur leo a est interdum mollis. Sed in elit dolor. In dapibus aliquam augue a vestibulum.

          Donec molestie mi quis odio ornare tincidunt. Nam varius tellus nec metus pellentesque, eu molestie nibh vehicula. Curabitur maximus quis eros a vulputate. Aliquam lectus nunc, blandit in metus in, vulputate posuere mauris. In id tempor odio, id commodo enim. Quisque tristique ultrices sem, a condimentum quam sodales ac. Duis mauris urna, semper ac tempus non, laoreet eget nisi. Fusce gravida, ipsum eu hendrerit eleifend, nulla ante mollis lectus, et eleifend ex erat quis arcu. Etiam ac elit in metus sollicitudin interdum tincidunt non nulla. Nunc dictum cursus turpis vel sodales. Fusce blandit massa eget euismod auctor. Nam in nunc id urna accumsan dapibus sed sed felis. Maecenas scelerisque sapien quis neque convallis mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fringilla mi sit amet lectus placerat pulvinar.
        </p>
        <p>&nbsp;</p>
      </article>
    </section>

## Careers Section ##
    <section class="message left" id="careers">
      <article>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur ligula ac tortor viverra scelerisque. Duis posuere enim tristique porta porta. Praesent aliquet tempor diam, non facilisis eros scelerisque mollis. Etiam quis justo et tellus rutrum vestibulum. Mauris interdum ultricies risus, at sodales diam sagittis eu. Suspendisse maximus faucibus dolor sed luctus. Integer ut odio est. Sed a turpis a ligula tempor accumsan. Curabitur varius tristique mi, quis ultricies tellus accumsan eu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Donec congue justo vestibulum auctor ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mauris turpis, hendrerit vel porttitor ut, porttitor nec orci. Phasellus ac sapien scelerisque, fringilla felis sed, porttitor sapien. Sed fringilla ante a varius blandit.

          Vestibulum sed viverra mauris. Morbi placerat magna libero, eu ultrices velit ornare vel. Sed odio sapien, porttitor ac est ac, consequat luctus lectus. Aenean consectetur ultricies est, et ultricies tellus volutpat quis. Quisque vulputate scelerisque porttitor. Nunc tempor, orci cursus lacinia tincidunt, quam est posuere ipsum, in malesuada nisl libero sit amet est. In scelerisque purus eu nisl molestie eleifend. Etiam elit dolor, iaculis non aliquam sit amet, dignissim in lacus.

          Phasellus libero tellus, blandit ac placerat ut, sollicitudin et ipsum. Curabitur in leo sed est tincidunt varius. Sed efficitur rutrum erat nec efficitur. Curabitur ornare felis pellentesque, rutrum sem sit amet, pulvinar erat. Vivamus porta nibh libero, vel malesuada nunc consequat vel. Integer consequat lectus nec hendrerit dignissim. Maecenas id lectus tortor. Pellentesque fringilla a leo sit amet volutpat. Duis rutrum vulputate enim a eleifend.

          Vestibulum scelerisque sem at velit euismod, a semper sapien ullamcorper. Vestibulum et mollis justo, vulputate fringilla velit. Etiam finibus sagittis laoreet. Duis vel leo nec eros ornare euismod eu tristique erat. Suspendisse ultricies sapien a dictum pretium. Donec at nunc varius, venenatis ligula a, suscipit nulla. Fusce eget scelerisque leo. Ut ex mauris, imperdiet id auctor quis, lobortis non nibh. Fusce eu justo vitae magna consectetur iaculis non in nibh.

          Sed sit amet tortor commodo, ornare augue sed, sollicitudin purus. Vestibulum luctus arcu vitae urna semper, ac sagittis enim tincidunt. Suspendisse pulvinar tempus nisl non aliquam. Nullam luctus risus sem, ut sollicitudin arcu dictum nec. Nulla tempor vulputate felis sit amet bibendum. Praesent sit amet tortor nec tortor bibendum vestibulum. Nulla eu sagittis orci, non euismod nibh. Nullam tempor fermentum felis ut hendrerit. Nam fermentum, eros tempus pellentesque laoreet, lorem dolor bibendum elit, id porta magna justo quis ante. Morbi fermentum, justo non egestas finibus, augue ex fermentum urna, ac varius justo ante eu nulla.
        </p>
        <p>&nbsp;</p>
      </article>
    </section>

## Contact Section ##
    <section class="message left" id="contacts">
      <article id="stanford-OpenEdX-contact">
        <p>
          Morbi a est nec ligula tristique eleifend et eu mauris. Morbi convallis nec augue quis blandit. Ut lacinia ipsum id arcu gravida, posuere pretium ex condimentum. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus lorem erat, lacinia ac enim quis, efficitur maximus elit. Sed sit amet orci odio. Pellentesque libero ex, molestie a leo vel, dapibus porta nunc. Curabitur quis nisi ac erat accumsan sollicitudin sit amet in metus. Sed aliquet, diam a iaculis accumsan, tortor libero aliquam odio, eget sodales leo velit non mi. Duis fringilla tristique elit, non blandit enim bibendum a.

          Proin efficitur, odio a scelerisque tempus, nisl nunc scelerisque est, elementum pellentesque sem velit at ante. Fusce auctor blandit purus. Phasellus est ante, molestie non risus a, placerat bibendum ligula. In faucibus egestas porttitor. In nec ultricies enim. Ut quis nisl rhoncus, elementum nisi eget, fringilla neque. Duis vestibulum, justo quis sodales condimentum, urna metus pretium tortor, vel dignissim felis massa in enim. Sed mattis pellentesque quam at elementum. Curabitur a est a libero congue ultricies vitae sit amet turpis. Donec id dapibus quam. Mauris cursus luctus mauris, ultrices pellentesque justo molestie sit amet. Nullam et mattis dolor.

          Praesent nec aliquam lorem. Quisque magna nulla, malesuada ac volutpat varius, ullamcorper fermentum sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin quis ex dapibus nulla mattis pretium. Pellentesque vitae ipsum ut lacus venenatis iaculis. Duis mattis bibendum urna, in blandit diam sodales nec. Sed auctor purus libero. Vestibulum sit amet fermentum augue. Aenean maximus commodo condimentum. Phasellus viverra rhoncus eros at tincidunt. Cras viverra vitae risus at lacinia. Duis facilisis aliquet velit. Vivamus interdum ante eget aliquet lacinia. Integer augue justo, accumsan sit amet risus sed, molestie suscipit urna.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque nec arcu id sem ultrices eleifend. Sed gravida consectetur leo et vestibulum. Quisque consectetur purus eu nunc venenatis, eget porta leo mollis. Nulla finibus enim id condimentum cursus. In pellentesque varius ipsum, at tincidunt neque pellentesque ac. Ut iaculis ullamcorper pharetra. Etiam aliquet vulputate tortor, in consequat tellus laoreet et. Praesent est urna, condimentum eu dui eu, tristique ultricies erat. Phasellus dui tortor, accumsan molestie pellentesque id, tristique molestie eros. Vestibulum ultricies egestas lorem.

          Praesent ultricies arcu neque. Cras non lacus sollicitudin, iaculis ex nec, ornare lorem. Nam sollicitudin eros vel purus faucibus, eget varius lectus cursus. Nullam vulputate iaculis ex facilisis vehicula. Curabitur luctus nulla nibh, id vehicula purus porttitor sit amet. Etiam vitae dignissim tortor. Pellentesque iaculis elit sit amet commodo facilisis. Quisque elementum sapien eleifend feugiat maximus. Donec nunc lacus, porttitor eu aliquet at, vulputate rutrum justo. Suspendisse potenti. Sed vehicula ex id fringilla pharetra. Cras sed condimentum mauris. Nam finibus massa vel tempus hendrerit. Curabitur consequat in risus in sagittis.
        </p>
        <p>&nbsp;</p>
      </article>
    </section>
  </section>

</section>
