## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%!
  from datetime import date
%>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('about')}">About</a></li>
          <li><a href="${reverse('about')}#tos">Terms of Service</a></li>
          <li><a href="${reverse('about')}#privpol">Privacy Policy</a></li>
          <li><a href="${reverse('about')}#honcode">Honor Code</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Built on <a href="http://code.edx.org">OpenEdX</a></span>
      <span>Copyright ${'{year}'.format(year=date.today().year)} <a href="http://education.io">Telos</a></span>
    </div>
  </footer>
</div>
